.blogs-main> .no-blogs{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  padding: 20px 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.blogs-main> .no-blogs .create-one{
  margin-top: 20px;
}
.blogs-main> .no-blogs .create-one>a{
  background-color: cadetblue;
  width: 150px;
  height: 35px;
  line-height: 35px;
  padding: 7px 15px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border-radius: 2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pages{
  display: flex;
  width: 250px;
  margin: 10px auto;
}
 .box{
  margin: 5px;
  padding: 5px 7px;
  border: 2px solid rgb(104, 104, 228);
  height: 30px;
  line-height: 30px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  /* box-sizing: border-box; */
}
.pages>.page-num{
  height: 44px;
  width: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 18px;
  margin: 0 10px;
}
.blogs>.pages>.none{
  display:none;
}
.the-end{
  max-width: 250px;
  margin: 10px auto;
}
.box>a{
  text-decoration: none;
}

